*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #dbe1e8;
    --color-secondary: #bef0ff;
    --color-third: rgb(146,212,248);
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px:
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3)
}

body{
    font-size: 1.1rem;;
    background: url("../images/background.jpg") repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: all .4s ease-in-out;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    min-height: 100vh;
    color: var(--color-white);
    font-family: "Goudy Old Style", sans-serif;
    width:  1530px;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
    padding: 0 !important;
}


section{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3rem 14rem;
    width:  1530px;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
   
}




.sec1{
    display: none;
    transition: all .4s ease-in-out;
    
}

.sec2{
    display: none;
    transition: all .4s ease-in-out;
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    display: block;    
}

#backgroundpic{
    height: 100%;
    width: 100%;
    z-index: 800;
}


//Controlls

.active-btn{
    background-color: var(--color-secondary) !important;
    transition: all .4s ease-in-out;
    i{
        color: var(--color-white);
    }
}

.controlls{
    position: fixed;
    z-index: 10;
    top: 90%;
    left: 40%;
    right: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    transform: translateY(-50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.3rem;
            color: var(--color-white);
            pointer-events: none;
        }
    }
}

//Header//
.header-content{ 
    height: 100%;
    width: 100%;
    .columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 5%;
        .text-front{
            position: relative;
            margin-left: 16%;
            padding: 2rem;
            margin-top: 6%;
            border-radius: 5%;
            z-index: 950;
            .bolded{
                position: relative;
                color: var(--color-black);
                font-weight: 600;
                font-size: larger;
            }
        }
        .imageCV{
            position: relative;
            margin-top: 4%;
            height: 70%;
            width: 70%;
            border-radius: 60%;
            z-index: 900;
            background-color: var(--color-white);
            filter: grayscale(90%);
        }
        #cvBild{
            border-radius: 60%;
            height: 100%;
            width: 100%;
            position: relative;
            border: #000;
        }
    }
}
    

//About-me
.about-container{
    display: block;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(250, 251, 251, 0.9);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    border-radius: 5%;
}
    .breadtext{
        position: relative;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        color: var(--color-black);
        font-weight: 600;        
    }
    .firsttext{
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
        color: var(--color-black);
        font-weight: 600;
        
}



#surfing{
    filter: grayscale(50%);
    display: block;
    margin-left: 25%;
    width: 50%;
    position: relative;
    align-self: center;
    border: 5px solid var(--color-white);
    filter: grayscale(90%);
}

#surfpic{
    width: 85%;
    margin-left: 7%;
    filter: grayscale(50%);
    border: 5px solid var(--color-white);
    filter: grayscale(90%);
}

//Projects//
.projects{
    text-align: center;
}


.codelanguage{
    position: relative;
    margin-top: 2%;
    padding: 3rem;
    background-color: rgba(250, 251, 251, 0.9);
    border-radius: 5%;
    .stats{
        h4{
            padding-bottom: 1rem;
        }
        .progressbars{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            .progressbar{
                display: flex;
                flex-direction: column;
                .progtitle{
                    text-transform: uppercase;
                    font-weight: 500;
                }
                .progresscontainer{
                    display: flex;
                    align-items: center;
                    .progtext{
                        color: var(--color-black);
                    }
                    .progress{
                        width: 100%;
                        height: .45rem;
                        background-color: var(--color-grey-4);
                        margin-left: 1rem;
                        position: relative;
                        span{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            background-color: var(--color-third);
                            transition: all .4s ease-in-out;
                            width: 60%;
                        }
                        .java{
                            width: 90%;
                        }
                        .python{
                            width: 90%;
                        }
                        .HTML{
                            width: 60%;
                        }
                        .CSS{
                            width: 60%;
                        }
                        .figma{
                            width: 80%;
                        }

                    }
                }
            }
        }
    }
}


.portfolios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item {
        position: relative;
        border-radius: 15px;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .hover-items {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;
            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    i {
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }
                    &:hover {
                        background-color: var(--color-white);
                        i { color: var(--color-primary); }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);

}

//Contact
.contact-info{
    padding-top: 2rem;
    font-size: x-large;
}
.contact-icons{
    font-size: xx-large;
}

//Independent Components//

.main-title{
    text-align: center;
    .textmain{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: bolder;
    }
}

.btn-con{
    display: flex;
    align-self: flex-start;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    top: 2rem;
    border: 1px solid var(--color-black);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
        color: var(--color-black);
    }
    .btn-icon{
        background-color: var(--color-black);
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color:var(--color-white);
            transform: translateX(0);
        }
    }
}

.dividingline{
    border: var(--color-white);
    border-width: 2rem;
}

#stretch{
    margin-top: 0%;
}
#stretchc{
    margin-top: 24%;
}


